

.product_price_parent_home
{
    display: flex;
    gap: 10px;
    font-size: x-large !important; 
    align-items: baseline;
    margin: auto;
}
.product_price_parent_home .product_price
{
        font-size: xx-large !important;
}
.product_price_parent_home .product_org_price
{
    color: rgba(0, 0, 0, 0.473);
}

.trending-box {
    font-weight: bold;
    position: relative;
}
.trending-box-inner-container {
    height: 450px;
}
.add-product-link {
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.add-product-link i {
    font-size: xx-large;
}
.add-product-link span {
    width: fit-content !important;
}
    .trending-box span , .trending-box .price, .trending-box h6{
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    .trending-box h6 {
        text-wrap: nowrap;
    }
    .trending-box span {
        /* font-size: small; */
    }
    .trending-box .price {
        font-size: medium;
    }
.trending-container .img-content {
    display: grid;
    align-items: center;
    gap: 5px;
    margin: auto !important;
    height: 40%;
}
.trending-box-img-container {
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    height: 60%;
}
.trending-box-img-container img {
width: 80%;
height: 100%;
margin: auto;
display: inherit;
}
.trending-img-hover-box {
    display: none;
    position: absolute;
    top: -100%;
    height: 100%;
    text-align: right;
    background-color: rgba(252, 248, 248, 0.2);
    /* transition: ease-in-out top 0.5s; */
}
.trending-img-hover-box i {
        color: #eb6a2a;
        position: relative;
        top: 10px;
        right: 15px;
    }
.trending-box-img-container:hover .trending-img-hover-box {
        display: block !important;
        animation: 0.5s forwards imgBox;
        /* top: 0% !important; */
}
@keyframes imgBox {
    from { top: -100% !important; };
    to { top: 0% !important; }
}
/* ADD PRODUCT */

.add-product {
    width: 60%;
}

/* PRODUCT */


.product .product_name
{
    text-transform: uppercase; 
    margin-top: 10px;
}
.product .product_price_parent
{
    display: flex; gap: 10px; font-size: x-large !important; align-items: baseline;
}
.product .product_price
{
    font-size: xx-large !important;
}
.product .product_org_price
{
    color: rgba(0, 0, 0, 0.479);
}
.product .product_des
{
    color: rgba(0, 0, 0, 0.486); overflow: hidden; text-wrap: wrap;
}
.product .max-min
{
    border: none !important;
    outline: none !important;
    text-wrap: nowrap;
    /* position: absolute; bottom: 100px; */
}
.product .max-min button {
    width: 30px ;
    height: 30px;
    background-color: gold;
    color: white;
    border: none;
    border: 1.5px solid gold;


    &:hover {
        background-color: black !important;
        color: gold !important;
    }
}
.product .max-min .pluse {

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &:hover {
        border-left: none;
    }
}
.product .max-min .minus {

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &:hover {
        border-right: none;
    }
}
.product .max-min input {
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: gold;
    color: white;
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    outline: none !important;
}
.product .max-min
{
    width: 30px;
}
.product .btn-parent {
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.product .addToCart
{
    margin: 0px;
    margin-top: 15px;
    display: table;
    text-align: center;
    padding: 10px 20px;
    width: 96%;
    text-wrap: nowrap;
    background-color: gold;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    border: 1.5px solid transparent;

    &:hover {
        background-color: black !important;
        color: gold;
        border-color: gold;
    }
}


/* ADD TO CART */


.add-to-cart img {
    max-height: 300px;
}

.add-to-cart .price-detais, .product-details {
    max-height: 300px;

}
.add-to-cart .product_name
{
    text-transform: uppercase;
    padding: 0px;
}

.add-to-cart .product_des
{
    color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    text-wrap: wrap;
}

.add-to-cart .product_price_parent
{
    display: flex;
    gap: 10px;
    font-size: x-large !important; 
    align-items: baseline;
}
.add-to-cart .product_price_parent .product_price
{
        font-size: xx-large !important;
}
.add-to-cart .product_price_parent .product_org_price
{
    color: rgba(0, 0, 0, 0.473);
}
.add-to-cart .price-content-inner-box {
    height: 100%;
}
 
.add-to-cart .product_price_parent
{
    display: flex; gap: 10px; font-size: x-large !important; align-items: baseline;
}
.add-to-cart .product_price
{
    font-size: xx-large !important;
}
.add-to-cart .product_org_price
{
    color: rgba(0, 0, 0, 0.479);
}
.add-to-cart .product-details h1 {
        margin: 0px !important;
        height: 20% !important;
    }
    
.add-to-cart .product-details p {
        margin: 0px;
        height: 60% !important;
        overflow: scroll !important;
    }
    
.add-to-cart .product-details h3 {
        margin: 0px;
        height: 20% !important;
    }





@media screen and (max-width: 991px) {

.trending-box span ,.trending-box .price,.trending-box h6{
        text-align: center !important;
    }

}
@media screen and (max-width: 575px) {
.trending-img-hover-box, .discount-img-hover-box {
    top: 0% !important;
}

.trending-img-hover-box:hover, .discount-img-hover-box:hover {
    animation: none !important;
}
/* ADD PRODUCT */

.add-product {
    width: fit-content;
}

/* PRODUCT */

.product .price-content-box {
    text-align: center;
    }
    .product .price-content-box p {
    text-align: justify;
    padding-inline: 5%;
    }
    .product h3.product_price_parent {
    justify-content: center;
    }
    .product .price-content-inner-box {
    padding: 10px !important;
    }
    .product .product_name{
    text-align: center !important;
    }
    .product .price-box p.row span.col-7 {
    padding-left: 30px !important;
    }
    .product .product_price_parent {
    font-size: large !important;
    }
    .product .product_price_parent .product_price
    {
        font-size: x-large !important;
    }
    .btn-parent {
        display: grid;
        place-items: center;
    }

/* ADD TO  CART */

.add-to-cart .price-content-box {
    text-align: center;
}
.add-to-cart .price-content-box p {
    text-align: justify;
    padding-inline: 5%;
}
.add-to-cart h3.product_price_parent {
    justify-content: center;
}
.add-to-cart .price-content-inner-box {
    padding: 10px !important;
}
.add-to-cart .price-box h6{
    text-align: center !important;
}
.add-to-cart .price-box p.row span.col-7 {
    padding-left: 30px !important;
}
.add-to-cart .product_price_parent {
    font-size: large !important;
}
.add-to-cart .product_price_parent .product_price
{
        font-size: x-large !important;
}

}