
*
{
    margin: 0%;
    box-sizing: border-box;
}

img {
    max-height: 300px;
}

.price-detais, .product-details {
    max-height: 300px;

}
.product_name
{
    text-transform: uppercase;
    padding: 0px;
}

.product_des
{
    color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    text-wrap: wrap;
}

.product_price_parent
{
    display: flex;
    gap: 10px;
    font-size: x-large !important; 
    align-items: baseline;
}
.product_price_parent .product_price
{
        font-size: xx-large !important;
}
.product_price_parent .product_org_price
{
    color: rgba(0, 0, 0, 0.473);
}
.price-content-inner-box {
    height: 100%;
}

.price-detais {
    /* font-size: small; */
}
.product-details {

    h1 {
        margin: 0px !important;
        height: 20% !important;
    }
    p {
        margin: 0px;
        height: 60% !important;
        overflow: scroll !important;
    }
    h3 {
        margin: 0px;
        height: 20% !important;
    }
}

@media screen and (max-width: 575px) {
    
.price-content-box {
    text-align: center;
}
.price-content-box p {
    text-align: justify;
    padding-inline: 5%;
}
h3.product_price_parent {
    justify-content: center;
}
.price-content-inner-box {
    padding: 10px !important;
}
.price-box h6{
    text-align: center !important;
}
.price-box p.row span.col-7 {
    padding-left: 30px !important;
}
.product_price_parent {
    font-size: large !important;
}
.product_price_parent .product_price
{
        font-size: x-large !important;
}
}