
*
{
    margin: 0%;
    box-sizing: border-box;
}

.add-to-cart img {
    max-height: 300px;
}

.add-to-cart .price-detais, .product-details {
    max-height: 300px;

}
.add-to-cart .product_name
{
    text-transform: uppercase;
    padding: 0px;
}

.add-to-cart .product_des
{
    color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    text-wrap: wrap;
}

.add-to-cart .product_price_parent
{
    display: flex;
    gap: 10px;
    font-size: x-large !important; 
    align-items: baseline;
}
.add-to-cart .product_price_parent .product_price
{
        font-size: xx-large !important;
}
.add-to-cart .product_price_parent .product_org_price
{
    color: rgba(0, 0, 0, 0.473);
}
.add-to-cart .price-content-inner-box {
    height: 100%;
}
 npm run build
.add-to-cart .product_price_parent
{
    display: flex; gap: 10px; font-size: x-large !important; align-items: baseline;
}
.add-to-cart .product_price
{
    font-size: xx-large !important;
}
.add-to-cart .product_org_price
{
    color: rgba(0, 0, 0, 0.479);
}
.add-to-cart .product-details h1 {
        margin: 0px !important;
        height: 20% !important;
    }
    
.add-to-cart .product-details p {
        margin: 0px;
        height: 60% !important;
        overflow: scroll !important;
    }
    
.add-to-cart .product-details h3 {
        margin: 0px;
        height: 20% !important;
    }


@media screen and (max-width: 575px) {
    
    .add-to-cart .price-content-box {
    text-align: center;
}
.add-to-cart .price-content-box p {
    text-align: justify;
    padding-inline: 5%;
}
.add-to-cart h3.product_price_parent {
    justify-content: center;
}
.add-to-cart .price-content-inner-box {
    padding: 10px !important;
}
.add-to-cart .price-box h6{
    text-align: center !important;
}
.add-to-cart .price-box p.row span.col-7 {
    padding-left: 30px !important;
}
.add-to-cart .product_price_parent {
    font-size: large !important;
}
.add-to-cart .product_price_parent .product_price
{
        font-size: x-large !important;
}
}