* {
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}

.product .product_name
{
    text-transform: uppercase; 
    margin-top: 10px;
}
.product .product_price_parent
{
    display: flex; gap: 10px; font-size: x-large !important; align-items: baseline;
}
.product .product_price
{
    font-size: xx-large !important;
}
.product .product_org_price
{
    color: rgba(0, 0, 0, 0.479);
}
.product .product_des
{
    color: rgba(0, 0, 0, 0.486); overflow: hidden; text-wrap: wrap;
}
.product .max-min
{
    border: none !important;
    outline: none !important;
    text-wrap: nowrap;
    /* position: absolute; bottom: 100px; */
}
.product .max-min button {
    width: 30px ;
    height: 30px;
    background-color: gold;
    color: white;
    border: none;
    border: 1.5px solid gold;


    &:hover {
        background-color: black !important;
        color: gold !important;
    }
}
.product .max-min .pluse {

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &:hover {
        border-left: none;
    }
}
.product .max-min .minus {

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &:hover {
        border-right: none;
    }
}
.product .max-min input {
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: gold;
    color: white;
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    outline: none !important;
}
.product .max-min
{
    width: 30px;
}
.product .btn-parent {
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.product .addToCart
{
    margin: 0px;
    margin-top: 15px;
    display: table;
    text-align: center;
    padding: 10px 20px;
    width: 96%;
    text-wrap: nowrap;
    background-color: gold;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    border: 1.5px solid transparent;

    &:hover {
        background-color: black !important;
        color: gold;
        border-color: gold;
    }
}


@media screen and (max-width: 575px) {
        
    .product .price-content-box {
    text-align: center;
    }
    .product .price-content-box p {
    text-align: justify;
    padding-inline: 5%;
    }
    .product h3.product_price_parent {
    justify-content: center;
    }
    .product .price-content-inner-box {
    padding: 10px !important;
    }
    .product .product_name{
    text-align: center !important;
    }
    .product .price-box p.row span.col-7 {
    padding-left: 30px !important;
    }
    .product .product_price_parent {
    font-size: large !important;
    }
    .product .product_price_parent .product_price
    {
        font-size: x-large !important;
    }
    .btn-parent {
        display: grid;
        place-items: center;
    }
}